@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Font Family */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Montserrat', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

html , body {
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: #000000;
}

.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
    margin-left:12rem;
}

.container-1{
    width: 1100px;
	margin: 0px auto;
	display: table;
}


.width-66 {
	width: 96%;
	float: left;
    margin-top: 10px;
    position: absolute;
}

.main-panel{
    width: 10vw;
    float: left;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100vh;
}

.logo{
    font-size: 40px;
    font-weight: 600;
    width: 33%;
	float: left;
    padding-left: 20px;
}

.span-col{
    color: #39FF14;
}
nav{
    float: right;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    color: #000000;
}

.about-me-info{
    float: left;
    width: 50%;
}

.banner-section{
    width: 100%;
    float: left;
    margin: 25vh;
}

.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}

.banner-section h1 .span-col{
    font-family: 'Dancing Script', cursive;
}

.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #39FF14;
	color: #39FF14;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}

.main-panel img {
	margin-top: 10%;
	width: 100%;
	margin-left: 50%;
}

.main-section {
	width: 100%;
	float: left;
	padding: 110px 0px 110px 0px;
}

.width-100{
    width: 100%;
    float: left;
}

.table-info{
    margin-top: 20px;
}

.heading-text{
    width: 100%;
    float: left;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    color: #39FF14;
}

.about-img{
    width: 100%;
    padding:0px 10px;
}

.about-me{
    width: 120%;
    float: left;
    margin-left: 30%;
}

.about-me p{
    font-size: 16px;
    margin-top: 15px;
    line-height: 27px;
}

table{
    width: 100%;
}

table th, table td  {
    font-size: 16px;
    text-align: left;
    padding: 5px 0px;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20%;
}


/*****SKILL SECTION*****/
.skill {
	margin-top: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background:#39FF14;
	height: 5px;
	float: left;
}

div[role="progressbar"] {
	color: #39FF14;
	margin-left: 100px;
	margin-bottom: 20px;
	width: 100px;
	;
	height: 100px;
	;
	border-radius: 50%;

	place-items: center;
	display: grid;

	--pgPercentage: var(--value);
	background: radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
		conic-gradient(#39FF14 calc(var(--pgPercentage) * 1%), #aef3a2 0);

}

#about-1{
    display: flexbox;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}



.table-infos{
    width: 60%;
    margin-top: 20px;
}

.circle-info{
    position: absolute;
    margin-left: 70rem;
    margin-top: 40px;
}

.container-2{
    margin-left: 25rem;
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
}




/*CONTACT US SECTION*/
.contact form {
	width: 66%;
	margin: 0px auto;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #39FF14;
	color: #fff;
	border: none;
	font-size: 16px;
}
.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #39FF14;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.contact{
    margin-left: 15rem;
    margin-top: 20px;
}